<div class="bg-soft-gray">
  <div class="container mb-4 pt-3 underline-border">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0 pl-0">
            <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
            <li class="breadcrumb-item active" aria-current="page">İletişim</li>
          </ol>
        </nav>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
  <div class="container pb-4">
    <div class="row">
      <div class="col-sm-12 pt-3 pb-4">
        <h2>
          <span class="font-weight-600">İletişim </span>
          <span class="font-weight-600 text-red">Bilgileri ve Yöntemleri</span>
        </h2>
      </div>
    </div>
  </div>
</div>
<div class="container pb-4 pt-3">
  <div class="row">
    <div class="col-lg-8 mb-4">
      <div class="card">
        <div class="card-body">
          <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <h3>İletişim Bilgileri</h3>
      <p>
        Hürriyet Mahallesi Mülkiye Sokak Ekin Sitesi
        <br>Yakacık, Kartal, İstanbul
        <br>
      </p>
      <p>
        <abbr title="Phone">P</abbr>: (539) 378-6560
      </p>
      <p>
        <abbr title="Email">E</abbr>:
        <a href="mailto:osmankekeve@gmail.com">
          osmankekeve@gmail.com
        </a>
      </p>
      <p>
        <abbr title="Hours">H</abbr>: Pazartesi - Cuma: 9:00 AM to 5:00 PM
      </p>
    </div>
  </div>
</div>

<app-contact-mail></app-contact-mail>
