<div class="container-fluid p-0">
  <nav class="navbar top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="assets/logo/kekeve_web_logo_white.png" class="img-thumbnail main-logo" alt="Kekeve System Developing" width="70%" />
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navb">
      <ul class="navbar-nav ml-auto mr-3">
        <li class="nav-item p-2">
          <a class="nav-link" routerLink="/dashoard" routerLinkActive="active">Anasayfa</a>
        </li>
        <li class="nav-item p-2">
          <a class="nav-link"  routerLink="/corporate" routerLinkActive="active">Kurumsal</a>
        </li>
        <li class="nav-item p-2">
          <a class="nav-link" routerLink="/projects" routerLinkActive="active">Projeler</a>
        </li>
        <li class="nav-item p-2">
          <a class="nav-link" routerLink="/blog" routerLinkActive="active">Blog</a>
        </li>
        <li class="nav-item p-2">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">İletişim</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-success my-2 my-sm-0" type="button">Search</button>
      </form>
    </div>
  </nav>

  <app-alert></app-alert>
  <router-outlet></router-outlet>
  <div id="footer" class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark p-4">
    <div class="w-100 text-center bottom-info">KEKEVE Web & Mobile Developing © Copyright 2020</div>
  </div>
</div>
