<div class="bg-soft-gray">
  <div class="container mb-4 pt-3 underline-border">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0 pl-0">
            <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
            <li class="breadcrumb-item active" aria-current="page">Proje</li>
          </ol>
        </nav>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
  <div class="container pb-4">
    <div class="row">
      <div class="col-sm-12 pt-3 pb-4">
        <h2>
          <span class="font-weight-600">Tüm </span>
          <span class="font-weight-600 text-dark-yellow">Proje Başlıkları</span>
        </h2>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-8 head-filter">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-search"></i></span>
          </div>
          <input type="search" class="form-control filter-list-input p-4" placeholder="Proje Başlığı Ara"
                 [(ngModel)]="searchText">
        </div>
      </div>
      <div class="col-sm-2">
      </div>
    </div>
  </div>
</div>
