<div class="bg-soft-gray">
  <div class="container mb-4 pt-3 underline-border">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0 pl-0">
            <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
            <li class="breadcrumb-item active" aria-current="page">Proje</li>
          </ol>
        </nav>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
  <div class="container pb-4">
    <div class="row">
      <div class="col-sm-12 pt-3 pb-4">
        <h2>
          <span class="font-weight-600">Tüm </span>
          <span class="font-weight-600 text-red">Proje Başlıkları</span>
        </h2>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-8 head-filter">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-search"></i></span>
          </div>
          <input type="search" class="form-control filter-list-input p-4" placeholder="Proje Başlığı Ara"
                 [(ngModel)]="searchText">
        </div>
      </div>
      <div class="col-sm-2">
      </div>
    </div>
  </div>
</div>
<div class="container pb-4 pt-3">
  <div class="row">
    <div class="col-sm-3">
      <div class="bg-soft-gray p-4 product">
        <h5 class="text-red font-weight-bold">
          <img src="../../assets/icons/favicon-32x32.png" class="mr-2" alt=""/>KEKEVE Ofis</h5>
        <div class="product-info">
          <p class="fs-15">
            Müşterilerinizin cari durum hareketlerini sisteminizden tam zamanlı olarak takip edebilir,
            personel analizleri ile birlikte çalışma analizinizi başarıyla yapabilirsiniz..
          </p>
          <h6 class="text-red fs-14 mt-2">Sistem Özellikler</h6>
          <small>- Müşteri Alım-Satım Takibi,</small>
          <br/>
          <small>- Tahsilat-Ödeme Takibi,</small>
          <br/>
          <small>- Personel Rut ve Ziyaret işlemleri,</small>
          <br/>
          <small>- ...</small>
          <br/>
        </div>
        <button class="btn btn-danger float-right" type="button" >Daha Fazla Bilgi <a class="fa fa-angle-double-right"></a></button>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="bg-soft-gray p-4 product">
        <h5 class="text-red font-weight-bold">
          <img src="../../assets/icons/favicon-32x32.png" class="mr-2" alt=""/>KEKEVE Ofis</h5>
        <div class="product-info">
          <p class="fs-15">
            Müşterilerinizin cari durum hareketlerini sisteminizden tam zamanlı olarak takip edebilir,
            personel analizleri ile birlikte çalışma analizinizi başarıyla yapabilirsiniz..
          </p>
          <h6 class="text-red fs-14 mt-2">Sistem Özellikler</h6>
          <small>- Müşteri Alım-Satım Takibi,</small>
          <br/>
          <small>- Tahsilat-Ödeme Takibi,</small>
          <br/>
          <small>- Personel Rut ve Ziyaret işlemleri,</small>
          <br/>
          <small>- ...</small>
          <br/>
        </div>
        <button class="btn btn-danger float-right" type="button" >Daha Fazla Bilgi <a class="fa fa-angle-double-right"></a></button>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="bg-soft-gray p-4 product">
        <h5 class="text-red font-weight-bold">
          <img src="../../assets/icons/favicon-32x32.png" class="mr-2" alt=""/>KEKEVE Ofis</h5>
        <div class="product-info">
          <p class="fs-15">
            Müşterilerinizin cari durum hareketlerini sisteminizden tam zamanlı olarak takip edebilir,
            personel analizleri ile birlikte çalışma analizinizi başarıyla yapabilirsiniz..
          </p>
          <h6 class="text-red fs-14 mt-2">Sistem Özellikler</h6>
          <small>- Müşteri Alım-Satım Takibi,</small>
          <br/>
          <small>- Tahsilat-Ödeme Takibi,</small>
          <br/>
          <small>- Personel Rut ve Ziyaret işlemleri,</small>
          <br/>
          <small>- ...</small>
          <br/>
        </div>
        <button class="btn btn-danger float-right" type="button" >Daha Fazla Bilgi <a class="fa fa-angle-double-right"></a></button>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="bg-soft-gray p-4 product">
        <h5 class="text-red font-weight-bold">
          <img src="../../assets/icons/favicon-32x32.png" class="mr-2" alt=""/>KEKEVE Ofis</h5>
        <div class="product-info">
          <p class="fs-15">
            Müşterilerinizin cari durum hareketlerini sisteminizden tam zamanlı olarak takip edebilir,
            personel analizleri ile birlikte çalışma analizinizi başarıyla yapabilirsiniz..
          </p>
          <h6 class="text-red fs-14 mt-2">Sistem Özellikler</h6>
          <small>- Müşteri Alım-Satım Takibi,</small>
          <br/>
          <small>- Tahsilat-Ödeme Takibi,</small>
          <br/>
          <small>- Personel Rut ve Ziyaret işlemleri,</small>
          <br/>
          <small>- ...</small>
          <br/>
        </div>
        <button class="btn btn-danger float-right" type="button" >Daha Fazla Bilgi <a class="fa fa-angle-double-right"></a></button>
      </div>
    </div>
  </div>
  <div class="row mt-md-4">
    <div class="col-sm-3">
      <div class="bg-soft-gray p-4 product">
        <h5 class="text-red font-weight-bold">
          <img src="../../assets/icons/favicon-32x32.png" class="mr-2" alt=""/>KEKEVE Ofis</h5>
        <div class="product-info">
          <p class="fs-15">
            Müşterilerinizin cari durum hareketlerini sisteminizden tam zamanlı olarak takip edebilir,
            personel analizleri ile birlikte çalışma analizinizi başarıyla yapabilirsiniz..
          </p>
          <h6 class="text-red fs-14 mt-2">Sistem Özellikler</h6>
          <small>- Müşteri Alım-Satım Takibi,</small>
          <br/>
          <small>- Tahsilat-Ödeme Takibi,</small>
          <br/>
          <small>- Personel Rut ve Ziyaret işlemleri,</small>
          <br/>
          <small>- ...</small>
          <br/>
        </div>
        <button class="btn btn-danger float-right" type="button" >Daha Fazla Bilgi <a class="fa fa-angle-double-right"></a></button>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="bg-soft-gray p-4 product">
        <h5 class="text-red font-weight-bold">
          <img src="../../assets/icons/favicon-32x32.png" class="mr-2" alt=""/>KEKEVE Ofis</h5>
        <div class="product-info">
          <p class="fs-15">
            Müşterilerinizin cari durum hareketlerini sisteminizden tam zamanlı olarak takip edebilir,
            personel analizleri ile birlikte çalışma analizinizi başarıyla yapabilirsiniz..
          </p>
          <h6 class="text-red fs-14 mt-2">Sistem Özellikler</h6>
          <small>- Müşteri Alım-Satım Takibi,</small>
          <br/>
          <small>- Tahsilat-Ödeme Takibi,</small>
          <br/>
          <small>- Personel Rut ve Ziyaret işlemleri,</small>
          <br/>
          <small>- ...</small>
          <br/>
        </div>
        <button class="btn btn-danger float-right" type="button" >Daha Fazla Bilgi <a class="fa fa-angle-double-right"></a></button>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="bg-soft-gray p-4 product">
        <h5 class="text-red font-weight-bold">
          <img src="../../assets/icons/favicon-32x32.png" class="mr-2" alt=""/>KEKEVE Ofis</h5>
        <div class="product-info">
          <p class="fs-15">
            Müşterilerinizin cari durum hareketlerini sisteminizden tam zamanlı olarak takip edebilir,
            personel analizleri ile birlikte çalışma analizinizi başarıyla yapabilirsiniz..
          </p>
          <h6 class="text-red fs-14 mt-2">Sistem Özellikler</h6>
          <small>- Müşteri Alım-Satım Takibi,</small>
          <br/>
          <small>- Tahsilat-Ödeme Takibi,</small>
          <br/>
          <small>- Personel Rut ve Ziyaret işlemleri,</small>
          <br/>
          <small>- ...</small>
          <br/>
        </div>
        <button class="btn btn-danger float-right" type="button" >Daha Fazla Bilgi <a class="fa fa-angle-double-right"></a></button>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="bg-soft-gray p-4 product">
        <h5 class="text-red font-weight-bold">
          <img src="../../assets/icons/favicon-32x32.png" class="mr-2" alt=""/>KEKEVE Ofis</h5>
        <div class="product-info">
          <p class="fs-15">
            Müşterilerinizin cari durum hareketlerini sisteminizden tam zamanlı olarak takip edebilir,
            personel analizleri ile birlikte çalışma analizinizi başarıyla yapabilirsiniz..
          </p>
          <h6 class="text-red fs-14 mt-2">Sistem Özellikler</h6>
          <small>- Müşteri Alım-Satım Takibi,</small>
          <br/>
          <small>- Tahsilat-Ödeme Takibi,</small>
          <br/>
          <small>- Personel Rut ve Ziyaret işlemleri,</small>
          <br/>
          <small>- ...</small>
          <br/>
        </div>
        <button class="btn btn-danger float-right" type="button" >Daha Fazla Bilgi <a class="fa fa-angle-double-right"></a></button>
      </div>
    </div>
  </div>
</div>
<app-contact-mail></app-contact-mail>
