
<div class="bg-soft-gray">
  <div class="container mb-4 pt-3 underline-border">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0 pl-0">
            <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
            <li class="breadcrumb-item active" aria-current="page">Blog</li>
          </ol>
        </nav>
      </div>
      <div class="col">
        <form class="form-inline float-right">
          <small id="btnBlogCreate" class="float-right mt-3 mr-2">Blok Başlık Oluştur</small>
          <button class="btn btn-sm btn-success float-right mt-3" type="button"
                  *ngIf="!userDetails"
                  (click)="btnShowLogOn_Click()" >Log On</button>
          <button class="btn btn-sm btn-success float-right mt-3" type="button"
                  *ngIf="userDetails"
                  (click)="btnShowLogOff_Click()" >Log Off</button>
        </form>
      </div>
    </div>
  </div>
  <div class="container pb-4">
    <div class="row">
      <div class="col-sm-12 pt-3 pb-4">
        <h2>
          <span class="font-weight-600">Tüm </span>
          <span class="font-weight-600 text-dark-yellow">Blog Başlıkları</span>
        </h2>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-8 head-filter">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-search"></i></span>
          </div>
          <input type="search" class="form-control filter-list-input p-4" placeholder="Blog Başlığı Ara"
                 [(ngModel)]="searchText">
        </div>
      </div>
      <div class="col-sm-2">
      </div>
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-sm-8">
      <ul class="blog-list">
        <li class="mb-4">
          <div class="row">
            <div class="col-sm-1">
              <img src="../../assets/profile-images/pi-1.png" height="55" width="48" alt=""/>
            </div>
            <div class="col-sm-11">
              <div>
                <span class="text-darker-blue font-weight-600 mr-2">Osman KEKEVE</span>
                <span class="text-dark-blue">July 22, 2020 Sistem Yöneticisi</span>
              </div>
              <div class="font-weight-500 text-dark-yellow fs-18">Injecting SAP Conversational AI chatbot into a website using SAP Intelligent RPA</div>
              <p class="fs-14">Recently for my personal fun project, I was checking different ways to open a chatbot in a website and found a way to inject SAP Conversational AI Chatbot into any website directly</p>
            </div>
          </div>
        </li>
        <li class="mb-4">
          <div class="row">
            <div class="col-sm-1">
              <img src="../../assets/profile-images/pi-1.png" height="55" width="48" alt=""/>
            </div>
            <div class="col-sm-11">
              <div>
                <span class="text-darker-blue font-weight-600 mr-2">Osman KEKEVE</span>
                <span class="text-dark-blue">July 22, 2020 Sistem Yöneticisi</span>
              </div>
              <div class="font-weight-500 text-dark-yellow fs-18">Injecting SAP Conversational AI chatbot into a website using SAP Intelligent RPA</div>
              <p class="fs-14">Recently for my personal fun project, I was checking different ways to open a chatbot in a website and found a way to inject SAP Conversational AI Chatbot into any website directly</p>
            </div>
          </div>
        </li>
        <li class="mb-4">
          <div class="row">
            <div class="col-sm-1">
              <img src="../../assets/profile-images/pi-1.png" height="55" width="48" alt=""/>
            </div>
            <div class="col-sm-11">
              <div>
                <span class="text-darker-blue font-weight-600 mr-2">Osman KEKEVE</span>
                <span class="text-dark-blue">July 22, 2020 Sistem Yöneticisi</span>
              </div>
              <div class="font-weight-500 text-dark-yellow fs-18">Injecting SAP Conversational AI chatbot into a website using SAP Intelligent RPA</div>
              <p class="fs-14">Recently for my personal fun project, I was checking different ways to open a chatbot in a website and found a way to inject SAP Conversational AI Chatbot into any website directly</p>
            </div>
          </div>
        </li>
        <li class="mb-4">
          <div class="row">
            <div class="col-sm-1">
              <img src="../../assets/profile-images/pi-1.png" height="55" width="48" alt=""/>
            </div>
            <div class="col-sm-11">
              <div>
                <span class="text-darker-blue font-weight-600 mr-2">Osman KEKEVE</span>
                <span class="text-dark-blue">July 22, 2020 Sistem Yöneticisi</span>
              </div>
              <div class="font-weight-500 text-dark-yellow fs-18">Injecting SAP Conversational AI chatbot into a website using SAP Intelligent RPA</div>
              <p class="fs-14">Recently for my personal fun project, I was checking different ways to open a chatbot in a website and found a way to inject SAP Conversational AI Chatbot into any website directly</p>
            </div>
          </div>
        </li>
        <li class="mb-4">
          <div class="row">
            <div class="col-sm-1">
              <img src="../../assets/profile-images/pi-1.png" height="55" width="48" alt=""/>
            </div>
            <div class="col-sm-11">
              <div>
                <span class="text-darker-blue font-weight-600 mr-2">Osman KEKEVE</span>
                <span class="text-dark-blue">July 22, 2020 Sistem Yöneticisi</span>
              </div>
              <div class="font-weight-500 text-dark-yellow fs-18">Injecting SAP Conversational AI chatbot into a website using SAP Intelligent RPA</div>
              <p class="fs-14">Recently for my personal fun project, I was checking different ways to open a chatbot in a website and found a way to inject SAP Conversational AI Chatbot into any website directly</p>
            </div>
          </div>
        </li>
        <li class="mb-4">
          <div class="row">
            <div class="col-sm-1">
              <img src="../../assets/profile-images/pi-1.png" height="55" width="48" alt=""/>
            </div>
            <div class="col-sm-11">
              <div>
                <span class="text-darker-blue font-weight-600 mr-2">Osman KEKEVE</span>
                <span class="text-dark-blue">July 22, 2020 Sistem Yöneticisi</span>
              </div>
              <div class="font-weight-500 text-dark-yellow fs-18">Injecting SAP Conversational AI chatbot into a website using SAP Intelligent RPA</div>
              <p class="fs-14">Recently for my personal fun project, I was checking different ways to open a chatbot in a website and found a way to inject SAP Conversational AI Chatbot into any website directly</p>
            </div>
          </div>
        </li>
      </ul>

    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="text-darker-blue">Kategoriler</h5>
        </div>
      </div>

    </div>
  </div>
</div>
